* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    position: relative;
    height: 88vh;
    background-color: #030915;
    color: white;
}

.hamburger i {
    font-size: 2.5rem;
}

.header-row {
    position: relative;
    z-index: 99;
    padding: 2rem 0;
}

.navbar ul {
    display: flex;
    gap: 2rem;
    height: 404px;
    height: 100px;
}

.navbar ul li a {
    color: white;
    font-size: 1.2rem;
}

.hamburger {
    display: none;
}

#hero-section {
    height: 30vh;
}

.hero-content {
    max-width: 37vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-row {
    position: relative;
    z-index: 99;
}

.car-hero {
    position: relative;

}

.car-hero img {
    width: 750px;
    position: absolute;
    right: -130px;
    top: 1.5rem;
}

.hero-content h1 {
    font-size: 4rem;
}

.hero-content p {
    font-size: 1.2rem;
}

.hero-content button {
    max-width: 240px;
    width: 100%;
    padding: 1rem;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.image {
    width: 206px;
    padding-right: 50px
}

.shape {
    position: absolute;
}

.shape-1 {
    bottom: 0;
    right: 0;
    width: 42%;
}

.shape-2 {
    top: 0;
    left: 0;
    height: 350px;

}

.shape-3 {
    top: 5rem;
    left: 50%;
    right: 59%;
    transform: translateX(-50%);
    width: 5%;
}

#car-tabs {
    padding: 5rem 0;
}

.car-tab {
    border: 1px solid;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.tabs-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin: auto;
}

.written {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.written h1 {
    margin-bottom: 30px;
}

.links ul {
    display: flex;
    gap: 3rem;
}

.links a {
    color: #030915;
}

.links ul li {

    margin-bottom: 50px;
}

.rolls {
    position: relative;
    display: flex;
    justify-content: center;
}

.back {
    position: relative;
    display: flex;
    justify-content: center;
    height: 340px;
    width: 1120px;
    border-radius: 10px;
    z-index: -999;

}

.rolls-car {
    position: absolute;
    bottom: -50px;
    left: 390px;
}
.rolls h1{
    width: 231px;
    height: 73px;
    color: white;
    z-index: 999;
}
.rolls button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    padding: 20px 30px;
    margin-top: 30px;
}
.text{
    position: absolute;
    top: 50px;
    left: 100px;
    color: rgb(251, 109, 20);
    width: 200px;

}
.cars img{
    margin: 3px;
}
.heading{
     display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.heading h1{
      margin-top: 70px;
      margin-bottom: 50px;
}
.picture img{
    margin: 6px;
}
.box{
    width: 80%;
    height: 292px;
    margin: auto;
    background-color: black;
     display: flex;
    justify-content:space-evenly ;
    align-items: center;
}
.box img{
    width: 250px;
    height: 270px;
}
.footer-links ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-links ul{
    gap: 2rem;
    height: 404px;
    height: 100px;
}
.footer-links ul li a {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}
.contact-links{
    color: white;
   
}
.contact-links ul li{
     line-height: 25px; 
}
@media (max-width: 480px) {
    .hero-row {
        flex-direction: column;
    }

    html {
        font-size: 10px;
    }

    .container {
        width: 100%;
        padding: 2rem;
    }

    .navbar {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .car-hero {
        position: absolute;
        top: 25rem;
        left: 1;
    }

    .hero-content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero-section{
        height: 300px;
    }
    .car-hero img {
        max-width: 400px;
    }

    .hero-content {
        max-width: 100%;
    }

    .tabs-grid {
        margin-top: 8rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .written {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.links ul {
    display: flex;
    gap: 3rem;
}

.links a {
    color: #030915;
}

.links ul li {

    margin-bottom: 50px;
}

.rolls {
    position: relative;
    display: flex;
}

.back {
    position: relative;
    display: flex;
    justify-content: center;
    height: 220px;
    max-width: 480px;
    width: 480px;
    border-radius: 10px;
    z-index: -999;

}

.rolls-car {
    position: absolute;
    bottom: 10px;
    left: 150px;
    width: 250px;
  
}
.rolls h1{
    color: white;
    z-index: 999;
}
.text button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    padding: 10px 20px ;
    margin: 0px;
}
.text{
    position: absolute;
    top: 50px;
    left: -10px;
    color: rgb(251, 109, 20);
    margin: 0px;

}
.cars img{
    margin: 3px;
}
.heading{
     display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.heading h1{
      margin-top: 70px;
      margin-bottom: 50px;
}
.picture img{
    margin: 6px;
    width: 300px;
    height: 300px;
}
.section-footer{
    max-width: 480px;
    width: 280px;
    height: 150px;
}
.box{
    background-color: black;
    width: 480px;
}
.box img{
    width: 250px;
    height: 270px;
    padding-top: 70px;
}
.footer-links {
    display: none;
}
}